@use "sass:map";
@use "/src/assets/css/variables" as *;
//@import '../../../assets/css/base.scss';

.textarea__container {
    width: 100%;
    border: 1px solid map.get($light, "border_light");
    margin-top: 30px;
    position: relative;
    transition: border-color $transition_theme !important;

    &:hover {
        border: 1px solid map.get($light, "nav_selected");
        transition: border-color $transition_base !important;
    }

    & > label {
        position: absolute;
        top: -10px;
        left: 20px;
        padding: 0 10px;
        background-color: map.get($light, "bg");
        font-size: 16px;
        transition: $transition_theme;
        color: map.get($light, "text_soft");
        transition: background-color $transition_theme, color $transition_theme;
    }

    & > textarea {
        outline: none;
        border: none;
        background-color: transparent;
        padding: 15px 25px;
        width: 100%;
        font-size: 24px;
        color: map.get($light, "text_soft");
        transition: color $transition_theme;
        resize: vertical;
        min-height: 180px;

        @include respond-to(xs) {
            font-size: 20px;
        }
    }

    &.incorrect {
        & label {
            color: red;
        }
    }
}


body.dark {
    .textarea__container {
        border: 1px solid map.get($dark, "border_light");
        transition: border-color $transition_theme !important;

        &:hover {
            border: 1px solid map.get($dark, "nav_selected");
        }

        & > label {
            background-color: map.get($dark, "bg");
            transition: background-color $transition_theme, color $transition_theme;
            color: map.get($dark, "text_soft");
        }

        & > textarea {
            color: map.get($dark, "text_soft");
            transition: color $transition_theme;
        }

        &.incorrect {
            & label {
                color: red;
            }
        }
    }
}