@use "sass:map";
@import '../../assets/css/base.scss';

.page_about {

    & .about_me {

        & .about__container {
            display: flex;
            flex-direction: row;
            width: 100%;
    
            @include respond-to(md) {
                flex-direction: column;
            }
    
        
            & .img-container {
                width: 50%;
                position: relative;
                //border: 1px solid red;
                align-self: center;
                min-width: 540px;
                //box-sizing: border-box;
    
    
                &::before, &::after {
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: 4px;
                    height: 25px;
                    width: 25px;
                    background-color: rgba(map.get($light, "nav_selected"), 0.3);
                }
    
                &::after {
                    left: auto;
                    bottom: auto;
                    right: 0;
                    top: 0;
                }
    
                @include respond-to(md) {
                    width: 100%;
                    min-width: auto;
                    margin-bottom: 30px;
    
                }
                
    
                & > img {
                    width: 100%;
                    //max-height: 100%;
                    //object-fit: cover;
    
    
    
                   /* @include respond-to(md) {
                        width: 100%;
                        max-width: 100%;
                        max-height: 700px;
                        //object-fit: contain;
    
                    }*/
                }
            }
    
    
            & .descr {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding-left: 30px;
                padding-right: 10px;
    
                @include respond-to(md) {
                    width: 100%;
                    padding-left: 0px;
                }
    
    
                & h3 {
                    font-size: 32px;
                    margin-bottom: 10px;
                    color: map.get($light, "text_hard");

                    @include respond-to(md) {
                        align-self: center;
                    }
                }
    
                & p {
                    font-size: 18px;
                    color: map.get($light, "text_soft");
                    line-height: 170%;
                }
    
                & ul {
                    padding-left: 0;
                    list-style-type: none;
                    margin-top: 30px;
    
                    & li {
                        font-size: 18px;
                        line-height: 190%;
                        color: rgba(map.get($light, "text_soft"), 0.7);
                        font-weight: 100;
    
                        & b {
                            min-width: 150px;
                            display: inline-block;
                            position: relative;
                            color: rgba(map.get($light, "text_soft"), 1);
    
                            &::after {
                                position: absolute;
                                right: 10px;
                                content: ":"; //→
                            }
                        }
                    }
                }

                & .link_button {
                    margin-top: 20px;
                }
    

            }
        }
    }

    & .services {
        margin-top: 120px;

        @include respond-to(md) {
            margin-top: 100px;
        }

        @include respond-to(sm) {
            margin-top: 80px;
        }


        & .services__container {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;

            @include respond-to(sm) {
                flex-direction: column;
            }

            & > .service {
                width: 31%;
                background-color: map.get($light, "bg_side-panel");
                border: 1px solid map.get($light, "border");
                border-top: 5px solid map.get($light, "border");
                transition: border $transition_base, background-color $transition_theme;
                padding: 20px;
                margin-bottom: 30px;

                @include respond-to(md) {
                    width: 48%;
                }

                @include respond-to(sm) {
                    width: 100%;
                }

                &:hover {
                    border-top: 5px solid map.get($light, "nav_selected");
                    transition: border $transition_base;
                }


                & > svg {
                    width: 80px;

                    &.logo-design {
                        width: 100px;
                        height: 80px;

                        .design-1 {
                            fill:map.get($light, "text_soft");
                        }
                        .design-1,.design-2,.design-3,.design-4,.design-5 {
                            fill-rule:evenodd;
                        }
                        .design-2 {
                            fill:#ccc;
                        }
                        .design-3 { 
                            fill:#83b3d7;
                        }
                        .design-4 { 
                            fill:#3a91be;
                        } 
                        .design-5 { 
                            fill:#e99688;
                        }

                        @include respond-to(xs) {
                            width: 80px;
                            height: 60px;
                        }
                    }

                    &.logo-frontend {

                        .frontend-1 {
                            fill: #e99688;
                        }
                        .frontend-2 {
                            fill:map.get($light, "text_soft");
                        }
                        .frontend-3 { 
                            fill:#3a91be;
                        }
                    }


                    &.logo-components {

                        .components-1 {
                            fill: map.get($light, "text_soft");
                        }
                        .components-2 {
                            fill:#3a91be;
                        }
                        .components-3 { 
                            fill:#3a91be;
                        }
                        .components-4 { 
                            fill:#e99688;
                        }
                        .components-5 { 
                            fill:#3a91be;
                        }
                    }

                    @include respond-to(xs) {
                        width: 60px;
                    }
                    
                }

                & > h4 {
                    margin-top: 20px;
                }

                & .line {
                    width: 60px;
                    height: 2px;
                    margin-top: 20px;
                    background-color: map.get($light, "separator");;
                }

                & > p {
                    margin-top: 20px;
                }
            }
        }
    }


    & .reviews { 

    }

}








body.dark {
    .page_about {
        & .about__container {
            & > .descr {
                & h3 {
                    color: map.get($dark, "text_hard");
                }
                & p {
                    color: map.get($dark, "text_soft");
                }
                & ul {
                    & li {
                        color: rgba(map.get($dark, "text_soft"), 0.7);
                        & b {
                            color: rgba(map.get($dark, "text_soft"), 1);
                        }
                    }
                }
            }
        }
        & .services {
            & .services__container {
                & > .service {
                    background-color: map.get($dark, "bg_side-panel");
                    border: 1px solid map.get($dark, "border");
                    border-top: 5px solid map.get($dark, "border");
                    transition: border $transition_base, background-color $transition_theme;

                    &:hover {
                        border-top: 5px solid map.get($dark, "nav_selected");
                        transition: border $transition_base;
                    }

                    & > svg {
                        &.logo-design {
    
                            .design-1 {
                                fill:map.get($dark, "text_soft");
                            }
                            .design-2 {
                                fill:#ccc;
                            }
                            .design-3 { 
                                fill:#83b3d7;
                            }
                            .design-4 { 
                                fill:#3a91be;
                            } 
                            .design-5 { 
                                fill:#e99688;
                            }
                        }
    
                        &.logo-frontend {
                            .frontend-1 {
                                fill: #e99688;
                            }
                            .frontend-2 {
                                fill:map.get($dark, "text_soft");
                            }
                            .frontend-3 { 
                                fill:#3a91be;
                            }
                        }
    
                        &.logo-components {
    
                            .components-1 {
                                fill: map.get($dark, "text_soft");
                            }
                            .components-2 {
                                fill:#3a91be;
                            }
                            .components-3 { 
                                fill:#3a91be;
                            }
                            .components-4 { 
                                fill:#e99688;
                            }
                            .components-5 { 
                                fill:#3a91be;
                            }
                        }
                    }

    
                    & .line {
                        background-color: map.get($dark, "separator");;
                    }
                }
            }
        }
    
    
    }
}