@use "sass:map";
@import '../../assets/css/base.scss';

.side-panel {
    background-color: map.get($light, "bg_side-panel");
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: $sidePanelWidthFull;
    height: 100vh;
    padding: 0px 7px;
    border-right: 2px solid map.get($light, "border");

    @include respond-to(xl) {
        width: $sidePanelWidthSmall;
    }

    @include respond-to(lg) {
        transform: translateX(-$sidePanelWidthSmall);
    }

    &.nav_opened {
        transform: translateX(0);
    }

  & > figure {
      width: 100%;
      display: flex;
      align-items: center;
      height: 330px;
      border-bottom: 2px solid map.get($light, "separator");;

      & > img {
          width: 200px;
          aspect-ratio: 1;
          margin-left: auto;
          margin-right: auto;
          border-radius: 50%;
          border: 6px solid map.get($light, "border");
          min-height: 190px;
      }
  }

  & > nav {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      
      & > ul {
          list-style-type:none;
          font-size: 1rem;
          line-height: 2.4rem;
          width: 100%;
          margin-bottom: 100px;
          letter-spacing: 0.15rem;

          & > li {
              width: 100%;
              text-align: center;
              margin-bottom: 2px;

              & > a {
                  width: 100%;
                  display: block;
                  text-decoration: none;
                  text-transform: uppercase;
                  color: map.get($light, "text_soft");
                  position: relative;
                  

                  &::before {
                      content: "";
                      height: 100%;
                      width: 0%;
                      position: absolute;
                      left: 0;
                      top: 0;
                      background-color: map.get($light, "nav_hover");
                      z-index: -1;
                      transition: $transition_base;
                  }

                  
                  &:not(.selected):hover {
                      color: map.get($light, "text_em");
    
                      &::before {
                          width: 100%;
                          transition: $transition_base;;
                      }
                  }


                  &.selected {
                      background-color: map.get($light, "nav_selected");
                      color: $white;
                  }
              }


          }
      }
  }

  & > .hamburger {
    height: 50px;
    width: 50px;
    background-color: #666;
    position: absolute;
    top: 40px;
    right: -50px;
    display: none;
    cursor: pointer;

    @include respond-to(lg) {
        display: flex;
    }
  }

  
}






body.dark {
    .side-panel {
        background-color: map.get($dark, "bg_side-panel");
        border-right: 2px solid map.get($dark, "border");
    
      & > figure {
          border-bottom: 2px solid map.get($dark, "separator");;
    
          & > img {
              border: 6px solid map.get($dark, "border");
          }
      }
    
      & > nav {
          
          & > ul {
    
              & > li {
    
                  & > a {
                    color: map.get($dark, "text_soft");
    
                      &::before {
                          background-color: map.get($dark, "nav_hover");
                      }
                      
                      &:not(.selected):hover {
                          color: map.get($dark, "text_em");
                      }
    
                      &.selected {
                          background-color: map.get($dark, "nav_selected");
                          color: $white;
                      }
                  }
              }
          }
      }
      
    }
    
}