@use "sass:map";
@import "./variables.scss";
@import "./fonts.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: $transition_base;
}

body {
    font-family: "Roboto-Regular", sans-serif;
    background-color: map.get($light, "bg");
    width: 100%;
    position: relative;
    color: $black;

    &.dark {
        background-color: map.get($dark, "bg");
        color: $white;
    }
}


em {
    color: map.get($light, "text_em");
    font-style: normal;
}


body.dark {
    em {
        color: map.get($dark, "text_em");
        font-style: normal;
    }
    
}