@use "sass:map";
@import "./variables.scss";
@import "./fonts.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: $transition_base;
}

body {
    font-family: "Roboto-Regular", sans-serif;
    background-color: map.get($light, "bg");
    width: 100%;
    position: relative;
    color: $black;
    overflow: hidden;

    &.dark {
        background-color: map.get($dark, "bg");
        color: $white;
    }
}


em {
    color: map.get($light, "text_em");
    font-style: normal;
}


.page-container {
    margin-left: $sidePanelWidthFull;
    background-color: map.get($light, "bg");
    padding: 120px 12px;
    min-height: 100vh;

    @include respond-to(xl) {
        margin-left: $sidePanelWidthSmall;
    }

    @include respond-to(lg) {
        margin-left: 0;
        padding-left: 50px;
        padding-right: 50px;
    }

    &.nav_opened {
        margin-left: $sidePanelWidthFull;
    
        @include respond-to(xl) {
            margin-left: $sidePanelWidthSmall;
        }  
    }

    & > div:first-of-type {
        margin-left: auto;
        margin-right: auto;
        max-width: 1300px;
/*
        @include respond-to(lg) {
            max-width: 1000px;
        }*/
    }


    h1 {
        font-size: 50px;
    }
    
    
    h2 {
        font-size: 42px;
        color: map.get($light, "text_hard");
        position: relative;
        text-transform: uppercase;
        margin-bottom: 100px;
    
        & > em {
            position: absolute;
            font-size: 72px;
            font-weight: 800;
            top: 35px;
            left: 5px;
            color: map.get($light, "text_shadow");
        }

        &::before {
            position: absolute;
            top: 60px;
            left: 0;
            content: "";
            height: 5px;
            width: 100px;
            border-radius: 3px;
            background-color: rgba(map.get($light, "nav_selected"), 0.2);
        }

        &::after {
            position: absolute;
            top: 60px;
            left: 0;
            content: "";
            height: 5px;
            width: 40px;
            border-radius: 3px;
            background-color: map.get($light, "nav_selected");
        }
    }
    
    
    p {
        color: map.get($light, "text_soft");
    }

}





























body.dark {
    em {
        color: map.get($dark, "text_em");
        font-style: normal;
    }

    .page-container {
        border: 2px solid black;
        background-color: map.get($dark, "bg");
   
        h2 {
            color: map.get($dark, "text_hard");
        
            & > em {
                color: map.get($dark, "text_shadow");
            }
        }


        p {
            color: map.get($dark, "text_soft");
        }

    }
    
}