@use "sass:map";
@import '../../assets/css/base.scss';

.reviews__container {
    


    & .review__slide {
        padding: 20px;
        background: map.get($light, "bg_side-panel");
        border-left: 5px solid map.get($light, "border");
    }

}