@use "sass:map";
@import '../../../assets/css/base.scss';



.info_portfolio__container {
    //padding: 10px;


    & p {
        text-align: center;
        font-size: 20px !important;
        line-height: 130% !important;
        width: 100%;
        font-weight: 700;
        white-space: pre-wrap;
        //font-size: 22px !important;

        @include respond-to(sm) {
            font-size: 18px !important;
        }
    }
}
