@use "sass:map";
@import '../../../assets/css/base.scss';



.info_portfolio__container {
     padding: 10px;
    & p {
        font-size: 18px !important;
        line-height: 130% !important;
        width: 100%;
    }
}